.App {
  text-align: center;
}

.text-areas-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px;
}


.languages-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-left: 30px;
}

.arrow-btn{
  background-image: url(./images/arrow.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.mic-start{
  background-image: url(./images/volume.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

.mic-start:hover{
  background-color: #91f154;
  width: 35px;
  height: 35px;
  border: solid 0.5px green;
  border-radius: 7px;
}

.mic-stop{
  background-image: url(./images/stop.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

.mic-start-second{
  background-image: url(./images/volume.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

.mic-start-second:hover{
  background-color: #b1ee8b;
  width: 35px;
  height: 35px;
  border: solid 0.5px green;
  border-radius: 7px;
}
.mic-stop:hover{
  background-color: #b1ee8b;
  width: 35px;
  height: 35px;
  border: solid 0.5px green;
  border-radius: 7px;
}

.clear-btn{
  background-image: url(./images/close.png);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding-right: 40px;
  background-color: transparent;
}

.clear-btn:hover{
  background-color: #b1ee8b;
  width: 35px;
  height: 35px;
  border: solid 0.5px green;
  border-radius: 7px;
}

.mic-stop-second{
  background-image: url(./images/stop.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}
.mic-stop-second:hover{
  background-color: #b1ee8b;
  width: 35px;
  height: 35px;
  border: solid 0.5px green;
  border-radius: 7px;
}
.arrow-btn:hover{
  background-color: #b1ee8b;
  width: 35px;
  height: 35px;
  border: solid 0.5px green;
  border-radius: 7px;
}

.TextArea {
  min-height: 200px;
  width: 90%;
  border-radius: 7px;
  font-size: 18px;
  padding: 10px;
}

.microphone-btn{
  background-image: url(./images/microp.png);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding-right: 40px;
  background-color: transparent;
}

.microphone-btn:hover{
  background-color: #b1ee8b;
  width: 35px;
  height: 35px;
  border: solid 0.5px green;
  border-radius: 7px;
}

.microphone-btn-close{
  background-image: url(./images/microClose.png);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding-right: 40px;
  background-color: transparent;
}
.microphone-btn-close:hover{
  background-color: #b1ee8b;
  width: 35px;
  height: 35px;
  border: solid 0.5px green;
  border-radius: 7px;
}

body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #f5cfcf, #f3d9c5, #f5f5b2, #e4fdda, #00ffd5);
  display: flex;
  justify-content: center;
  align-items: center;
}
